html {
    background-color: #234E52;
}

body {
    color: #FFFAF0;
    font-family: inherit;
}

h1 {
    color: palegoldenrod;

}

h2 {
    color: #d53f8c;
}

h1, h2, span, p, img, a {
    margin-bottom: 2px;
    margin-top: 2px;
}

h3 {
    color: #d53f8c;
    font-family: inherit;
}
