html {
    background-color: #234E52;
}

body {
    color: #FFFAF0;
    font-family: inherit;
}

h1 {
    color: palegoldenrod;
}

h2 {
    color: Crimson;
}

h3 {
    color: Crimson;
    font-family: inherit;
}
